
.nav-bar {
  list-style: none;
}

.nav-bar li {
  display: inline-block;
  padding: 0px 20px;
  background: none;
}

.nav-bar li a {
  transition: all 0.3s ease 0s;
}

.nav-bar li a:hover {
  color: #b9e2f0
  ;
  transition: 0.5s;
}

footer{
  background-color: #61a5c2 ;
  text-align: center;
  text-transform: uppercase;
  padding-top: 60px;
  margin-top: auto;
}

#footer{
width:100%;
}

footer li{
  list-style: none;
  margin: 5px;
  display: inline-block;
  background-color: #61a5c2;
}

.icons a {
  background: #61a5c2   ;
  color: #b9e2f0;
  padding: 10px;
  font-size: 25px;
  border-radius: 100%;
  display: flex ;
}
.icons  a:hover{
  color: #b9e2f0 ;
  transition: 0.5s;
}

.menu a{ 
  color: #b9e2f0;
  text-transform: capitalize;
}
.menu a:hover{
  color: #b9e2f0 ; 
  transition: 0.5s;
}

.footer-copyright{
  background-color:#61a5c2;
  color: #b9e2f0; 
  padding: 15px;
  margin-top: 30px;
  text-transform: capitalize;
}

.footer-copyright p{
  margin-bottom: 0px;
  background-color:#61a5c2;
  color:#b9e2f0 ; 
  padding: 10px ;
 
}

.icons {
  background-color:#61a5c2;
}
/* hame id  */
#Homepage1{ 
  position: absolute;
  background: none;
padding-top: 100px;
padding-right: 50px;
margin : 5% ; 
} 

#LearnerHPage, #PreviousBookingHK, #CurrentBookingHK, #PartnerHPage{
  position: relative;
  background: none;
  background: linear-gradient(120deg, #f3f5ff, #defaff, #d3e8ff);
  height: 400px;
  padding: 0 25px 305px 25px;
  
}
#contentOfPartner,#contentOfLearner{ 
  position: absolute;
  background: none;
padding-top: 100px;
padding-right: 50px;

} 

.Slogan {  
padding-top: 100;
  margin: 50px; 
  margin-bottom: 10px;
  color: #2c7da0 ; 
  font-size: 1.4cm;
  background: none;

}
.Slogantext {  

  padding: 10px; 
  color:#61a5c2; 
  font-size: 0.5cm;
  padding-left: 70px;
  margin-bottom: 10px;
  background: none;

}